.card-img{
    width: 100%;
    display: block;
    height: 50%;
}
.card_body{
    padding: 20px;
   
   

}
.m_20{
    margin: 30px;
}
.card{
    width: 400px;
    border: 1px solid black;
    border-radius: 15px;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;

}
.card-btn{
    border: 1px solid transparent;
    background-color: rgb(19, 112, 205);
    text-decoration: none;
    color: aliceblue;
    padding: 0 20px;
    border-radius: 10px;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.card-btn-link{
    border: 1px solid transparent;
    background-color: transparent;
    text-decoration: none;
    color: rgb(36, 124, 211);
    padding: 0 20px;
    border-radius: 5px;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.card-btn-link:active{
   color: blueviolet;
}
body{
    background-image: url(./img/16518.png);
}
